html {
    box-sizing: border-box;
}

*, ::after ::before {
    box-sizing: inherit;
}

.all{
    background-color: black;    
}

.body {
    display: grid;
    grid-template-columns: 85% 14%;
    column-gap:1%;
    background-color: black;
    background-size:auto;
    /* background-position: center; */
    /* max-width: 400px; */
    margin: auto;
    color: rgb(200, 200, 200);
    font-family: 'Lato', sans-serif;
    
}

.header{
    width: 100%;
    height: 20px;
    font-weight:bolder;
    font-size:25px;
    color: rgb(200, 200, 200);
    background-color:rgb(0, 0, 0);
    line-height: 1;
    text-align: end;
}
.orderHead{
    width: 10%;
    height: 70px;
    font-weight:bolder;
    font-size:18px;
    background-color:rgb(60, 20, 10);
}


.descriptionHead{
    height: 70px;
    font-weight:bolder;
    font-size:18px;
    background-color:rgb(60, 20, 10);
}

.order{
    font-weight:bolder;
    font-size:larger;
    line-height: 1;
    
}

.name{
    font-weight:lighter;
    font-size:14px;
    line-height: 1;
}

.descryption{
    font-weight:lighter;
    font-size:18px;
    line-height: 1;
}

.table1{
    grid-column: 1;
    width:100%;
    height:fit-content;
    table, th, td {
        border: 1px solid;}
    tr:nth-child(even) {background-color:rgb(30, 30, 30);}
}

.table2{
    grid-column:2;
    width:100%;
    height:fit-content;
    table, th, td {
    border: 3px solid;}
    background-color:rgb(38, 50, 20);
/* tr:nth-child(even) {background-color:rgb(50, 50, 50);}    */
}

.orderInPrgsHead{
    width: 10%;
    height: 70px;
    font-weight:bolder;
    font-size:18px;
    background-color:rgb(60, 20, 10);
}

.priority{
    color:orangered;
}